In [ ]:
import pandas as pd
df=pd.read_csv('insurance_survey.csv')
df

           Education  Satisfaction*
0   College graduate               5
1   College graduate               3
2   College graduate               5
3   College graduate               3
4   College graduate               3
5   College graduate               3
6   College graduate               3
7   College graduate               4
8   College graduate               2
9    Graduate degree               3
10   Graduate degree               4
11   Graduate degree               5
12   Graduate degree               5
13   Graduate degree               5
14   Graduate degree               4
15   Graduate degree               5
16   Graduate degree               5
17      Some college               4
18      Some college               1
19      Some college               4
20      Some college               2
21      Some college               3
22      Some college               4
23      Some college               4

In [ ]:
df_gr = df.groupby('Education')['Satisfaction* '].apply(list)
df_gr

Education
College graduate    [5, 3, 5, 3, 3, 3, 3, 4, 2]
Graduate degree        [3, 4, 5, 5, 5, 4, 5, 5]
Some college              [4, 1, 4, 2, 3, 4, 4]
Name: Satisfaction* , dtype: object

In [ ]:
from scipy.stats import levene

stat, p = levene(*df_gr, center='mean')
stat, p

(0.9433580072525427, 0.40520616699352924)

In [ ]:
from scipy.stats import f_oneway

fvalue, pvalue = f_oneway(*df_gr)
fvalue, pvalue

(3.9246517319277117, 0.03563539756488997)

In [ ]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
df['Satisfaction* ']
# tukey = pairwise_tukeyhsd(endog=df['Satisfaction* '],groups=df.Education,alpha=0.05)
# print(tukey)

0     5
1     3
2     5
3     3
4     3
5     3
6     3
7     4
8     2
9     3
10    4
11    5
12    5
13    5
14    4
15    5
16    5
17    4
18    1
19    4
20    2
21    3
22    4
23    4
Name: Satisfaction* , dtype: int64